body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    font-family: 'Sacramento', cursive;
    margin: 50px auto 0 auto;
    font-size: 5.625rem;
    color: #66BFBF;

}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

.top-container {
    background-color: #e4f9f5;
    position: relative;
    padding-top: 50px;
}

a {
    color: #11999E;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

p {
    line-height: 2;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.code {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.photo {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.middle-container {
    margin: 100px 0;
}

.bottom-container {
    background-color: #66BFBF;
    padding-bottom: 30px;
    border-top-width: 20px;
    margin-top: 50px;
    padding-top: 30px;

}

.bottom-container p {
    color: #EAF6F6;
    margin-top: 30px;
}

.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #EAF6F6;
    border-width: 5px;
    width: 5%;
    margin: 100px auto;
}

.footer-link {
    padding-right: 20px;
    padding-left: 20px;

}

.intro {
    width: 30%;
    margin: auto;
}

.contact-me {
    width: 40%;
    margin: 40px auto 60px;
}

a:hover {
    color: #EAF6F6;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}